<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Welcome to the admin page.</h1>
        <a href="/admin/products">See all products listed on the website.</a>
        <a href="/admin/orders">See all orders made by customers.</a>
        <a href="/admin/new_product">Upload a new product to the website.</a>
    </div>
</body>
</html>